@import "~@angular/material/theming";

// always include only once per project
@include mat-core();
// // Define the default theme (same as the example above).
$brands-kitchen-primary: mat-palette($mat-indigo);
$brands-kitchen-accent: mat-palette($mat-pink, A200, A100, A400);
$brands-kitchen-theme: mat-light-theme(
  (
    color: (
      primary: $brands-kitchen-primary,
      accent: $brands-kitchen-accent,
    ),
  )
);

// Include the default theme styles (color and default density)
@include angular-material-theme($brands-kitchen-theme);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-indigo);
$dark-accent: mat-palette($mat-pink, A200, A100, A400);
$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

.dark-theme {
  @include angular-material-color($dark-theme);
}
